# dbo.HR_Division Normal Form Analysis

## Schema

Primary Key: Div_Code

| Column Name               | Data Type    | Allows Nulls |
|---------------------------|--------------|--------------|
| Div_ID                    | int          | 0            |
| **Div_Code**              | varchar(6)   | 0            |
| Div_OrgID                 | varchar(15)  | 1            |
| Div_Number                | char(2)      | 1            |
| Div_AccountNumber         | varchar(25)  | 1            |
| Div_Name                  | varcahr(80)  | 0            |
| Div_Description           | varchar(100) | 1            |
| Div_AddressLine1          | varchar(100) | 1            |
| Div_AddressLine2          | varchar(100) | 1            |
| Div_AddressLine3          | varchar(100) | 1            |
| Div_City                  | varchar(35)  | 1            |
| Div_StateProvence         | varchar(35)  | 1            |
| Div_Country               | int          | 1            |
| Div_Region                | varchar(35)  | 1            |
| Div_Telephone             | varchar(35)  | 1            |
| Div_Fax                   | varchar(35)  | 1            |
| Div_TimeDiff              | tinyint      | 1            |
| Div_President             | varchar(25)  | 1            |
| Div_Secretary             | varchar(25)  | 1            |
| Div_TRIPSContact          | varchar(25)  | 1            |
| Div_EmailTRIPSContact     | varchar(25)  | 1            |
| Div_BCDContact            | varchar(25)  | 1            |
| Div_OtherEmailContact     | varchar(50)  | 1            |
| Div_MsnryAcctContact      | varchar(25)  | 1            |
| Div_EmailMsnryAcctContact | varchar(25)  | 1            |
| Div_GCAssocSecForDiv      | varchar(25)  | 1            |
| Div_GCAssocSecID          | int          | 1            |
| Div_SecExt                | char(5)      | 1            |
| Div_SEC_desk              | int          | 1            |
| Div_TRIPS_Assoc           | int          | 1            |
| Div_Base_HRContact        | int          | 1            |
| Div_BaseSECContact        | int          | 1            |
| Div_BaseTREContact        | int          | 1            |
| Div_Base_TravelContact    | int          | 1            |
| Div_Host_HRContact        | int          | 1            |
| Div_EntryPerson           | varchar(35)  | 1            |
| Div_EntryDate             | datetime     | 1            |
| Div_UpdatePerson          | varchar(35)  | 1            |
| Div_UpdateDate            | datetime     | 1            |
| Div_AuditFlag             | char(1)      | 1            |
| Div_CodeForProcessing     | varchar(6)   | 1            |

## Import libraries

In [2]:
import pandas as pd

## Read data frame

In [4]:
path = r"C:\Users\HernandezS\IPRS Policy Notes\Data Analysis\dbo.HR_Division.csv"
df = pd.read_csv(path)

In [48]:
df.head()

,Div_ID,Div_Code,Div_OrgID,Div_Number,Div_AccountNumber,Div_Name,Div_Description,Div_AddressLine1,Div_AddressLine2,Div_AddressLine3,...,Div_Host_HRContact,Div_Host_SECContact,Div_Host_TREContact,Div_Host_TravelContact,Div_EntryPerson,Div_EntryDate,Div_UpdatePerson,Div_UpdateDate,Div_AuditFlag,Div_CodeforProcessing
0,1,ADRA,A11114,70.0,1.700000e+15,Adventist Development Agency (historical),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Walton, Katherine",2003-06-02 16:09:05.000,NaN,NaN
1,2,AID,NaN,10.0,1.700000e+15,Africa-Indian Ocean Division (historical),NaN,22 Boite Postale 1764,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Tolhurst, Linley",2002-04-14 00:00:00.000,NaN,NaN
2,3,AIIAS,A111AD,74.0,1.700000e+15,Adventist International Institute of Advanced ...,NaN,P.O. Box 38,NaN,NaN,...,NaN,NaN,NaN,4603.0,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Landless, Ros",2012-05-01 12:17:07.747,U,AIIAS
3,24,AUA,A111AUA,75.0,NaN,Adventist University of Africa,Adventist University of Africa,Advent Hill,Magadi Road,Ongata Rongai,...,NaN,NaN,NaN,NaN,"Landless, Ros",2008-09-17 14:37:52.533,"Landless, Ros",2012-04-30 18:05:39.323,U,AUA
4,4,AUD,NaN,61.0,1.700000e+15,General Conference Auditing Service,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Tolhurst, Linley",2002-04-14 00:00:00.000,NaN,GCAUD

> Observation: If table is named `Division` it is redundant to include the prefix `Div_` to the column entries

Looking at the table, there's a number of things to be noticed:

0. The prefix `Div_` on the column names is redundant, as the table name is suficiently descriptive.
1. Divisions and organizations should be treated as separate entities 

2. `Div_Number`, `Div_ID`, and `Div_Contry` seem to have the same function, identifying which organization that entry referes to 

3. `Div_Code` is not descriptive of the values in that column. They're acronyms of the divsion's name.

4.  `Div_Description` is full of null values, this should instead be the acronym in div_code. Nothing should depend on that code as the names of divisions can change. There should be a procedure in place to add, delete, and modify instances of a division object

5. `Div_Region` is mostly nulls, only has entries from West and East Africa.

6. `Div_TimeDiff` has null entries but they could be pulled from public data.

7. Anything related to *TRIPS* should be it's own table and the division table should hold a foreign key to that table only, if that's even necessary.

8. Anything related to *BCD* should be it's own table and the division table should hold a foreign key to that table only, if that's even necessary.

9. Anything related to the update and entry's person or date should be it's own table, and the division table should hold a foreign key to that table only. This is an important field to keep track. 

10. `Div_AuditFlag` could be more readable by spelling out the whole status code. The current values are either null, I, or U. 

11. `Div_Code` and `Div_CodeforProcessing` are duplicates of one another.

12. All historical entries should be kept in a separate table. There should be a procedure in place to move deprecated entries into an archive.


__A database re-design that takes these considerations into account would yield a simpler data model that makes data accessible, consistent, and secure.__

### Renaming header columns

In [ ]:

def get_column_names(df):
    """
    This method takes in a Pandas dataframe and returns the name of the columns as a list of strings
    """
    return list(df.columns)

get_column_names(df)

In [ ]:

def set_column_names(df, new_names):
    """
    This method takes in a Pandas dataframe and a list of strings and returns a dataframe with the new names
    """
    assert df.shape[1] == len(new_names)    # checking for same number of columns and names
    return df.rename(columns=dict( zip(df.columns, new_names)))

In [51]:
def remove_prefix(column_names, prefix):
    """This method removes the redundant prefix on the table names"""
    return list(name.replace(prefix, "") for name in column_names)


# Data frame with non-prefixed column names
column_names = remove_prefix(get_column_names(df), "Div_")
np_df = set_column_names(df, column_names)
np_df.head()

,ID,Code,OrgID,Number,AccountNumber,Name,Description,AddressLine1,AddressLine2,AddressLine3,...,Host_HRContact,Host_SECContact,Host_TREContact,Host_TravelContact,EntryPerson,EntryDate,UpdatePerson,UpdateDate,AuditFlag,CodeforProcessing
0,1,ADRA,A11114,70.0,1.700000e+15,Adventist Development Agency (historical),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Walton, Katherine",2003-06-02 16:09:05.000,NaN,NaN
1,2,AID,NaN,10.0,1.700000e+15,Africa-Indian Ocean Division (historical),NaN,22 Boite Postale 1764,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Tolhurst, Linley",2002-04-14 00:00:00.000,NaN,NaN
2,3,AIIAS,A111AD,74.0,1.700000e+15,Adventist International Institute of Advanced ...,NaN,P.O. Box 38,NaN,NaN,...,NaN,NaN,NaN,4603.0,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Landless, Ros",2012-05-01 12:17:07.747,U,AIIAS
3,24,AUA,A111AUA,75.0,NaN,Adventist University of Africa,Adventist University of Africa,Advent Hill,Magadi Road,Ongata Rongai,...,NaN,NaN,NaN,NaN,"Landless, Ros",2008-09-17 14:37:52.533,"Landless, Ros",2012-04-30 18:05:39.323,U,AUA
4,4,AUD,NaN,61.0,1.700000e+15,General Conference Auditing Service,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Tolhurst, Linley",2002-04-14 00:00:00.000,NaN,GCAUD

The column names are in camel case and no longer have a prefix.

### Separate organzations, divisions, and historical archives

Firstly, let's separate active and historical organizations

In [ ]:
historical_df = np_df[np_df["Name"].str.contains("(historical)", case=True)]
active_df = np_df[~np_df.index.isin(historical_df.index)]

In [59]:
div_df = active_df[active_df["Name"].str.contains("Division", case=True)]
org_df = active_df[~active_df.index.isin(div_df)]

div_df.head()
org_df.head()