# dbo.HR_Division Table Analysis

## Original Schema

**Table name**: dbo.HR_Division

**Primary Key**: Div_Code

| Column Name               | Data Type    | Allows Nulls |
|---------------------------|--------------|--------------|
| Div_ID                    | int          | 0            |
| **Div_Code**              | varchar(6)   | 0            |
| Div_OrgID                 | varchar(15)  | 1            |
| Div_Number                | char(2)      | 1            |
| Div_AccountNumber         | varchar(25)  | 1            |
| Div_Name                  | varcahr(80)  | 0            |
| Div_Description           | varchar(100) | 1            |
| Div_AddressLine1          | varchar(100) | 1            |
| Div_AddressLine2          | varchar(100) | 1            |
| Div_AddressLine3          | varchar(100) | 1            |
| Div_City                  | varchar(35)  | 1            |
| Div_StateProvence         | varchar(35)  | 1            |
| Div_Country               | int          | 1            |
| Div_Region                | varchar(35)  | 1            |
| Div_Telephone             | varchar(35)  | 1            |
| Div_Fax                   | varchar(35)  | 1            |
| Div_TimeDiff              | tinyint      | 1            |
| Div_President             | varchar(25)  | 1            |
| Div_Secretary             | varchar(25)  | 1            |
| Div_TRIPSContact          | varchar(25)  | 1            |
| Div_EmailTRIPSContact     | varchar(25)  | 1            |
| Div_BCDContact            | varchar(25)  | 1            |
| Div_OtherEmailContact     | varchar(50)  | 1            |
| Div_MsnryAcctContact      | varchar(25)  | 1            |
| Div_EmailMsnryAcctContact | varchar(25)  | 1            |
| Div_GCAssocSecForDiv      | varchar(25)  | 1            |
| Div_GCAssocSecID          | int          | 1            |
| Div_SecExt                | char(5)      | 1            |
| Div_SEC_desk              | int          | 1            |
| Div_TRIPS_Assoc           | int          | 1            |
| Div_Base_HRContact        | int          | 1            |
| Div_BaseSECContact        | int          | 1            |
| Div_BaseTREContact        | int          | 1            |
| Div_Base_TravelContact    | int          | 1            |
| Div_Host_HRContact        | int          | 1            |
| Div_EntryPerson           | varchar(35)  | 1            |
| Div_EntryDate             | datetime     | 1            |
| Div_UpdatePerson          | varchar(35)  | 1            |
| Div_UpdateDate            | datetime     | 1            |
| Div_AuditFlag             | char(1)      | 1            |
| Div_CodeForProcessing     | varchar(6)   | 1            |

## Import libraries

In [4]:
import pandas as pd

## Read data frame

In [5]:
path = r"C:\Users\HernandezS\IPRS Policy Notes\Data Analysis\dbo.HR_Division.csv"
df = pd.read_csv(path)

In [13]:
"""Exploratory testing"""
# Display the shape of the DataFrame
print(f"DataFrame Shape: {df.shape}")

# Check for missing values column-wise
for column in df.columns:
    missing_values_count = df[column].isnull().sum()
    total_values = len(df)
    percentage_missing = (missing_values_count / total_values) * 100
    percentage_full = 100 - percentage_missing

    print(f"Column '{column}': {missing_values_count} missing values, {percentage_full:.2f}% full")

# Identify empty columns
empty_columns = [column for column in df.columns if df[column].nunique() == 0]
print("\nEmpty Columns:", empty_columns)

DataFrame Shape: (32, 47)
Column 'Div_ID': 0 missing values, 100.00% full
Column 'Div_Code': 0 missing values, 100.00% full
Column 'Div_OrgID': 10 missing values, 68.75% full
Column 'Div_Number': 4 missing values, 87.50% full
Column 'Div_AccountNumber': 7 missing values, 78.12% full
Column 'Div_Name': 0 missing values, 100.00% full
Column 'Div_Description': 28 missing values, 12.50% full
Column 'Div_AddressLine1': 8 missing values, 75.00% full
Column 'Div_AddressLine2': 23 missing values, 28.12% full
Column 'Div_AddressLine3': 26 missing values, 18.75% full
Column 'Div_City': 8 missing values, 75.00% full
Column 'Div_StateProvence': 18 missing values, 43.75% full
Column 'Div_Country': 7 missing values, 78.12% full
Column 'Div_Region': 29 missing values, 9.38% full
Column 'Div_Telephone': 12 missing values, 62.50% full
Column 'Div_Fax': 12 missing values, 62.50% full
Column 'Div_TimeDiff': 8 missing values, 75.00% full
Column 'Div_President': 9 missing values, 71.88% full
Column 'Div_Secretary': 10 missing values, 68.75% full
Column 'Div_Treasurer': 10 missing values, 68.75% full
Column 'Div_TRIPSContact': 16 missing values, 50.00% full
Column 'Div_EmailTRIPSContact': 32 missing values, 0.00% full
Column 'Div_BCDContact': 13 missing values, 59.38% full
Column 'Div_EmailContact': 15 missing values, 53.12% full
Column 'Div_OtherBCDContact': 25 missing values, 21.88% full
Column 'Div_OtherEmailContact': 25 missing values, 21.88% full
Column 'Div_MsnryAcctContact': 27 missing values, 15.62% full
Column 'Div_EmailMsnryAcctContact': 31 missing values, 3.12% full
Column 'Div_GCAssocSecForDiv': 10 missing values, 68.75% full
Column 'Div_GCAssocSecID': 13 missing values, 59.38% full
Column 'Div_SecExt': 11 missing values, 65.62% full
Column 'Div_SEC_Desk': 15 missing values, 53.12% full
Column 'Div_TRIPS_Assoc': 12 missing values, 62.50% full
Column 'Div_Base_HRContact': 32 missing values, 0.00% full
Column 'Div_Base_SECContact': 32 missing values, 0.00% full
Column 'Div_Base_TREContact': 32 missing values, 0.00% full
Column 'Div_Base_TravelContact': 30 missing values, 6.25% full
Column 'Div_Host_HRContact': 32 missing values, 0.00% full
Column 'Div_Host_SECContact': 32 missing values, 0.00% full
Column 'Div_Host_TREContact': 32 missing values, 0.00% full
Column 'Div_Host_TravelContact': 30 missing values, 6.25% full
Column 'Div_EntryPerson': 1 missing values, 96.88% full
Column 'Div_EntryDate': 1 missing values, 96.88% full
Column 'Div_UpdatePerson': 1 missing values, 96.88% full
Column 'Div_UpdateDate': 1 missing values, 96.88% full
Column 'Div_AuditFlag': 9 missing values, 71.88% full
Column 'Div_CodeforProcessing': 8 missing values, 75.00% full

Empty Columns: ['Div_EmailTRIPSContact', 'Div_Base_HRContact', 'Div_Base_SECContact', 'Div_Base_TREContact', 'Div_Host_HRContact', 'Div_Host_SECContact', 'Div_Host_TREContact']

> Observation: If table is named `Division` it is redundant to include the prefix `Div_` to the column entries

Looking at the table, there's a number of things to be noticed:

0. The prefix `Div_` on the column names is redundant, as the table name is suficiently descriptive.
1. Divisions and organizations should be treated as separate entities 

2. `Div_Number`, `Div_ID`, and `Div_Contry` seem to have the same function, identifying which organization that entry referes to 

3. `Div_Code` is not descriptive of the values in that column. They're acronyms of the divsion's name.

4.  `Div_Description` is full of null values, this should instead be the acronym in div_code. Nothing should depend on that code as the names of divisions can change. There should be a procedure in place to add, delete, and modify instances of a division object

5. `Div_Region` is mostly nulls, only has entries from West and East Africa.

6. `Div_TimeDiff` has null entries but they could be pulled from public data.

7. Anything related to *TRIPS* should be it's own table and the division table should hold a foreign key to that table only, if that's even necessary.

8. Anything related to *BCD* should be it's own table and the division table should hold a foreign key to that table only, if that's even necessary.

9. Anything related to the update and entry's person or date should be it's own table, and the division table should hold a foreign key to that table only. This is an important field to keep track. 

10. `Div_AuditFlag` could be more readable by spelling out the whole status code. The current values are either null, I, or U. 

11. `Div_Code` and `Div_CodeforProcessing` are duplicates of one another.

12. All historical entries should be kept in a separate table. There should be a procedure in place to move deprecated entries into an archive.


__A database re-design that takes these considerations into account would yield a simpler data model that makes data accessible, consistent, and secure.__

### Renaming header columns

In [14]:

def get_column_names(df):
    """
    This method takes in a Pandas dataframe and returns the name of the columns as a list of strings
    """
    return list(df.columns)

get_column_names(df)

['Div_ID',
 'Div_Code',
 'Div_OrgID',
 'Div_Number',
 'Div_AccountNumber',
 'Div_Name',
 'Div_Description',
 'Div_AddressLine1',
 'Div_AddressLine2',
 'Div_AddressLine3',
 'Div_City',
 'Div_StateProvence',
 'Div_Country',
 'Div_Region',
 'Div_Telephone',
 'Div_Fax',
 'Div_TimeDiff',
 'Div_President',
 'Div_Secretary',
 'Div_Treasurer',
 'Div_TRIPSContact',
 'Div_EmailTRIPSContact',
 'Div_BCDContact',
 'Div_EmailContact',
 'Div_OtherBCDContact',
 'Div_OtherEmailContact',
 'Div_MsnryAcctContact',
 'Div_EmailMsnryAcctContact',
 'Div_GCAssocSecForDiv',
 'Div_GCAssocSecID',
 'Div_SecExt',
 'Div_SEC_Desk',
 'Div_TRIPS_Assoc',
 'Div_Base_HRContact',
 'Div_Base_SECContact',
 'Div_Base_TREContact',
 'Div_Base_TravelContact',
 'Div_Host_HRContact',
 'Div_Host_SECContact',
 'Div_Host_TREContact',
 'Div_Host_TravelContact',
 'Div_EntryPerson',
 'Div_EntryDate',
 'Div_UpdatePerson',
 'Div_UpdateDate',
 'Div_AuditFlag',
 'Div_CodeforProcessing']

In [15]:

def set_column_names(df, new_names):
    """
    This method takes in a Pandas dataframe and a list of strings and returns a dataframe with the new names
    """
    assert df.shape[1] == len(new_names)    # checking for same number of columns and names
    return df.rename(columns=dict( zip(df.columns, new_names)))

In [16]:
def remove_prefix(column_names, prefix):
    """This method removes the redundant prefix on the table names"""
    return list(name.replace(prefix, "") for name in column_names)


# Data frame with non-prefixed column names
column_names = remove_prefix(get_column_names(df), "Div_")
np_df = set_column_names(df, column_names)
np_df.head()

,ID,Code,OrgID,Number,AccountNumber,Name,Description,AddressLine1,AddressLine2,AddressLine3,...,Host_HRContact,Host_SECContact,Host_TREContact,Host_TravelContact,EntryPerson,EntryDate,UpdatePerson,UpdateDate,AuditFlag,CodeforProcessing
0,1,ADRA,A11114,70.0,1.700000e+15,Adventist Development Agency (historical),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Walton, Katherine",2003-06-02 16:09:05.000,NaN,NaN
1,2,AID,NaN,10.0,1.700000e+15,Africa-Indian Ocean Division (historical),NaN,22 Boite Postale 1764,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Tolhurst, Linley",2002-04-14 00:00:00.000,NaN,NaN
2,3,AIIAS,A111AD,74.0,1.700000e+15,Adventist International Institute of Advanced ...,NaN,P.O. Box 38,NaN,NaN,...,NaN,NaN,NaN,4603.0,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Landless, Ros",2012-05-01 12:17:07.747,U,AIIAS
3,24,AUA,A111AUA,75.0,NaN,Adventist University of Africa,Adventist University of Africa,Advent Hill,Magadi Road,Ongata Rongai,...,NaN,NaN,NaN,NaN,"Landless, Ros",2008-09-17 14:37:52.533,"Landless, Ros",2012-04-30 18:05:39.323,U,AUA
4,4,AUD,NaN,61.0,1.700000e+15,General Conference Auditing Service,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Tolhurst, Linley",2002-04-14 00:00:00.000,NaN,GCAUD

The column names are in camel case and no longer have a prefix.

### Separate organzations, divisions, and historical archives

Firstly, let's separate active and historical organizations

In [17]:
historical_df = np_df[np_df["Name"].str.contains("(historical)", case=True)]
active_df = np_df[~np_df.index.isin(historical_df.index)]

C:\Users\HernandezS\AppData\Local\Temp\ipykernel_10864\311569556.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  historical_df = np_df[np_df["Name"].str.contains("(historical)", case=True)]

In [25]:
div_df = active_df[active_df["Name"].str.contains("Division", case=True)]
org_df = active_df[~active_df.index.isin(div_df)]

Questions that arise here:
- How are  `Div_ID`,   `Div_OrgID`, and `Div_Number` functionally different?
- How does  `Div_OrgID` get constructed/assigned?
- How are the columns mentioned above used throughout the system?

Now, we will remove some of the duplication of ID numbers, rename the division's `Code` to `Name`, and change the current `Name` to `Description` since the name is not self explainatory.

In [26]:
div_df.drop(columns=["Description"], inplace=True)
div_df.rename(columns={"Name": "Description"}, inplace=True)
div_df.rename(columns={"Code": "Name"}, inplace=True)

C:\Users\HernandezS\AppData\Local\Temp\ipykernel_10864\380862431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  div_df.drop(columns=["Description"], inplace=True)
C:\Users\HernandezS\AppData\Local\Temp\ipykernel_10864\380862431.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  div_df.rename(columns={"Name": "Description"}, inplace=True)
C:\Users\HernandezS\AppData\Local\Temp\ipykernel_10864\380862431.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  div_df.rename(columns={"Code": "Name"}, inplace=True)

In [27]:
div_df.head()

,ID,Name,OrgID,Number,AccountNumber,Description,AddressLine1,AddressLine2,AddressLine3,City,...,Host_HRContact,Host_SECContact,Host_TREContact,Host_TravelContact,EntryPerson,EntryDate,UpdatePerson,UpdateDate,AuditFlag,CodeforProcessing
9,7,ECD,AF1111,15.0,1.700000e+15,East-Central Africa Division,P.O. Box 14756,00800 - Westlands,NaN,Nairobi,...,NaN,NaN,NaN,NaN,"Redmond, Amelia",2003-01-01 00:00:00.000,"Landless, Ros",2012-07-05 09:45:50.130,U,ECD
10,8,ESD,A51111,20.0,1.700000e+15,Euro-Asia Division,"Krasnoyarskaya Street, 3","Golianovo, 107589",NaN,Moscow,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Landless, Ros",2012-07-05 09:41:45.847,U,ESD
11,9,EUD,AD1111,19.0,1.700000e+15,Inter-European Division,P.O. Box 219,NaN,NaN,3000 Berne 32,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Landless, Ros",2012-05-01 15:59:08.673,U,EUD
15,12,IAD,AG1111,23.0,1.700000e+15,Inter-American Division,P.O. Box 140760,NaN,33114-0760,Miami,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Landless, Ros",2012-05-01 16:21:11.423,U,IAD
18,13,NAD,AN1111,25.0,1.700000e+15,North American Division,12501 Old Columbia Pike,NaN,20904-6600,Silver Spring,...,NaN,NaN,NaN,NaN,"Tolhurst, Linley",2002-04-14 00:00:00.000,"Landless, Ros",2012-05-01 16:01:46.530,U,NAD